<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
        <h3 class="text-white"> Covid Cases Tracker </h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/highest-and-lowest">Highest & Lowest Cases</a>
                <a class="nav-item nav-link" href="/weekly">Weekly & Monthly</a>
            </div>
        </div>
    </nav>
    <form class="float-right text-white p-3" th:action="@{/highest-and-lowest/search}">
        <label >Country:</label>
        <div class="btn-group" role="group" >
            <input type="text" name="country" onkeypress="ExplicitPrevention(event)">
            <input type="submit" value="Search" class="btn btn-info">
        </div>
    </form>
    <table id="table" class="table bg-dark p-5 text-white">
        <tr style="text-align:center;">
            <th class="text-danger">*** All cases are calculated per day ***</th>
        </tr>
        <tr style="text-align:center;">
            <th>State</th>
            <th>Country</th>
            <th>Highest Confirmed Cases</th>
            <th>Lowest Confirmed Cases</th>
            <th>Highest Death Cases</th>
            <th>Lowest Death Cases</th>
            <th>Highest Recovered Cases</th>
            <th>Lowest Recovered Cases</th>
        </tr>
        <tr th:each="data : ${summaryData}" style="color:white;padding:10px;">
            <td class="bg-dark" th:text="${data.location.state}"></td>
            <td class="bg-dark" th:text="${data.location.country}"></td>
            <td class="bg-warning" th:text="${data.confirmedCases != null ? data.confirmedCases.highestIncreaseCases: '-'}"></td>
            <td class="bg-warning" th:text="${data.confirmedCases != null ? data.confirmedCases.lowestIncreaseCases: '-'}"></td>
            <td class="bg-danger" th:text="${data.deathCases != null ? data.deathCases.highestIncreaseCases: '-'}"></td>
            <td class="bg-danger" th:text="${data.deathCases != null ? data.deathCases.lowestIncreaseCases: '-'}"></td>
            <td class="bg-info" th:text="${data.recoveredCases != null ? data.recoveredCases.highestIncreaseCases: '-'}"></td>
            <td class="bg-info" th:text="${data.recoveredCases != null ? data.recoveredCases.lowestIncreaseCases: '-'}"></td>
        </tr>
    </table>
</body>

</html>