<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body class="bg-dark" >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
        <h3 class="text-white"> Covid Cases Tracker </h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/highest-and-lowest">Highest & Lowest Cases</a>
                <a class="nav-item nav-link" href="/weekly">Weekly & Monthly</a>
            </div>
        </div>
    </nav>
    <form class="float-right text-white p-3" th:action="${type} == 'weekly' ? @{/weekly/search} : @{/monthly/search}">
        <label >Country:</label>
        <div class="btn-group" role="group" >
            <input type="text" name="country" onkeypress="ExplicitPrevention(event)">
            <input type="submit" value="Search" class="btn btn-info">
        </div>
    </form>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/weekly" class="btn btn-info btn-lg" role="button" aria-pressed="true">Weekly</a>
        <a href="/monthly" class="btn btn-success btn-lg" role="button" aria-pressed="true">Monthly</a>
    </div>
    <div class="table-responsive" style="overflow-x:auto;width:100%;">
        <table id="table" class="table bg-dark p-5 text-white">
            <tr style="text-align:center;">
                <th class="text-danger">*** All cases are confirmed cases ***</th>
            </tr>
            <tr style="text-align:center;">
                <th >State</th>
                <th>Country</th>
                <div th:if="${summaryData.size() > 0}">
                    <th th:if="${type == 'weekly'}" th:each="record : ${summaryData[0].confirmedCases.weeklyCases}" th:text="${record.getKey()}"></th>
                    <th th:unless="${type == 'weekly'}" th:each="record : ${summaryData[0].confirmedCases.monthlyCases}" th:text="${record.getKey()}"></th>
                </div>
            </tr>
            <tr th:each="data : ${summaryData}" style="color:white;padding:10px;">
                <td class="bg-dark" th:text="${data.location.state}"></td>
                <td class="bg-dark" th:text="${data.location.country}"></td>
                <th th:if="${type == 'weekly'}" th:each="record: ${data.confirmedCases.weeklyCases}" th:text="${record.getValue()}"></th>
                <th th:unless="${type == 'weekly'}" th:each="record: ${data.confirmedCases.monthlyCases}" th:text="${record.getValue()}"></th>
            </tr>
        </table>
    </div>
</body>

</html>